.Screen {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.AlertsCard {
    box-shadow: none !important;
    background-color: transparent !important;
    flex: 0 0 auto;
}

.Card {
    background-color: #333 !important;
    padding: 30px 70px !important;
    flex: 0 0 auto;
}

.LoginForm {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    row-gap: 25px;
    &_PasteButton {
        cursor: pointer;
        transition: all 100ms cubic-bezier(0.33, 0, 0.67, 1);
        &:hover {
            color: #0f6cbd;
        }
        &:active {
            color: #0c3b5e;
        }
    }
}

.EnvironmentForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    max-width: 600px;
    &_Actions {
        display: flex;
        flex-direction: row;
        column-gap: 40px;
    }
    &_Environments {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        padding: 0 8px;
        max-height: 420px;
        overflow: auto;
        &_Item {
            flex-shrink: 0;
            justify-content: flex-start !important;
            padding: 8px !important;
            &_Avatar {
                margin: 0 5px;
            }
        }
        &_Default {
            max-width: 80px;
            font-size: 10px;
            margin: 2px 0 0 3px;
            color: #DDDDDDCC !important;
        }
    }
}

.BlueScroll {
    transform: 1s all;
    /* width */
    &::-webkit-scrollbar {
        width: 6px !important;
        border: 1px solid #FFFFFF55;
        border-radius: 20px;
        &:active {
            border: 1px solid #FFFFFF22;
        }
    }
    /* Track */
    &::-webkit-scrollbar-track {
        border-radius: 20px !important;
        background: #000C1944;
        transform: 1s all;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #0177FF;
        border-radius: 20px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #0260CC;
    }
}