.Connections {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-height: 220px;
    overflow: auto;
    &_Item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        column-gap: 13px;
        border-radius: 4px;
        box-sizing: border-box;
        cursor: default;
        padding: 10px;
        transition: all 100ms ease-in-out;
        &:hover {
            transition: all 100ms ease-in-out;
            background-color: #444;
            &_Connections_Item_Content {
                color: #FFF !important;
            }
        }
        &:active {
            transition: all 100ms ease-in-out;
            background-color: #2E2E2E;
        }
        &_Icon {
            & img {
                border-radius: 4px;
            }
        }
        &_Content {
            &_Title {
                font-weight: 500;
                color: #DDD;
                line-height: 1.25em;
                padding-bottom: 1px;
                word-break: break-all;
            }
            &_Subtitle {
                color: #AAA;
                font-size: 12px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                line-height: 1.2em;
            }
        }
    }
    & button {
        cursor: default !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    &_GroupView {
        &_Badge {}
    }
}

.BlueScroll {
    transform: 1s all;
    /* width */
    &::-webkit-scrollbar {
        width: 6px !important;
        border: 1px solid #FFFFFF55;
        border-radius: 20px;
        &:active {
            border: 1px solid #FFFFFF22;
        }
    }
    /* Track */
    &::-webkit-scrollbar-track {
        border-radius: 20px !important;
        background: #000C1944;
        transform: 1s all;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #0177FF;
        border-radius: 20px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #0260CC;
    }
}