.details-main {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    margin-bottom: 10px;
}

.details-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 10px;
}

.details-info-main {
    width: 60%;
}

.details-info-more {
    width: 20%;
}

.details-info-links {
    width: 20%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.details-info-links-icon {
    margin: 0 5px;
    font-size: 18px;
}

.details-info-links-button {
    max-width: 200px;
    text-align: start;
    display: flex;
    justify-content: start;
    text-decoration: none;
}

.details-info-links-danger {
    color: red;
}

.cards-triggerActions {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: flex-start;
    justify-content: space-between;
    max-height: 400px;
}

.cards-triggerActions-trigger {
    width: 30%;
}

.cards-triggerActions-actions {
    width: 70%
}

.cards-triggerActions-txtarea {
    color: red;
    height: 100%;
    width: 100%;
    font-family: Consolas, monaco, monospace !important;
}

.h-100 {
    height: 100%;
}