.details-main {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    margin-bottom: 10px;
}

.details-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 10px;
}

.details-info-main {
    width: 60%;
}

.details-info-more {
    width: 20%;
}

.details-info-links {
    width: 20%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.details-info-links-icon {
    margin: 0 5px;
    font-size: 18px;
}

.details-info-links-button {
    max-width: 200px;
    text-align: start;
    display: flex;
    justify-content: start;
    text-decoration: none;
}

.details-info-links-danger {
    color: red;
}

.details-info-links-warning:hover {
    color: orangered !important;
    transition: 300ms all ease-in-out;
}

.cards-triggerActions {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: flex-start;
    justify-content: space-between;
    max-height: 400px;
}

.cards-triggerActions-trigger {
    width: 30%;
}

.cards-triggerActions-actions {
    width: 70%
}

.cards-triggerActions-txtarea {
    color: red;
    height: 100%;
    width: 100%;
    font-family: Consolas, monaco, monospace !important;
}

.h-100 {
    height: 100%;
}

.edit-flow-modal-body {
    display: flex;
    flex-direction: column;
}

.edit-flow-modal-body textarea {
    height: 200px;
}

.edit-flow-modal-label {
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 2px;
}

.txa_code textarea {
    font-family: 'Consolas' !important;
    font-size: 11px;
}

.tip {
    font-size: 11px;
}

.connection-text {
    display: flex;
    flex-direction: column;
}

.connection-text-small {
    color: #AAA;
    font-size: 12px;
}

.connection {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.connections {
    margin: 8px 0px 8px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}