.BlueScroll {
    transform: 1s all;
    /* width */
    &::-webkit-scrollbar {
        height: 6px !important;
        width: 6px !important;
        border: 1px solid #FFFFFF55;
        border-radius: 20px;
        &:active {
            border: 1px solid #FFFFFF22;
        }
    }
    /* Track */
    &::-webkit-scrollbar-track {
        border-radius: 20px !important;
        background: #000C1944;
        transform: 1s all;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #0177FF;
        border-radius: 20px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #0260CC;
    }
}