.alerts {
    max-width: 100%;
    word-wrap: break-word;
}

.flist_select {
    min-width: none;
    justify-content: flex-start !important;
    text-align: start !important;
    max-width: 400px;
}

.card1 {
    background-color: #2E2E2E !important;
    &_title {
        font-weight: 600;
        font-size: 15px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }
    &_details {
        & label {
            font-size: 13px;
            font-weight: 600;
            display: block;
        }
    }
    &_links {
        justify-content: start;
        width: 100%;
        gap: 5px;
        text-decoration: none;
    }
    &_connections {
        &_author {
            opacity: 0.6;
            font-size: 12px;
        }
    }
}

.FadeIn {
    -moz-animation: fadein 600ms;
    /* Firefox */
    -webkit-animation: fadein 600ms;
    /* Safari and Chrome */
    -o-animation: fadein 600ms;
    /* Opera */
    animation: fadein 600ms;
    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @-moz-keyframes fadein {
        /* Firefox */
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @-webkit-keyframes fadein {
        /* Safari and Chrome */
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @-o-keyframes fadein {
        /* Opera */
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

.DetailsCard {
    background-color: #333 !important;
    // height: 100%;
    padding: 0 !important;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 0 !important;
    &_Header {
        margin: 5px 0;
        padding: 0 10px;
        box-sizing: border-box;
        height: 30px !important;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        &_Divider {
            padding: 0;
            flex-grow: 0;
        }
        &_Title {
            line-height: 1em;
            font-weight: 600;
            font-size: 15px;
        }
    }
    &_Body {
        padding: 20px 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 8px;
        &_Links {
            width: 250px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        & label {
            font-weight: 600;
            display: block;
        }
        &_TextValue {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            word-break: break-word;
        }
    }
    &_Details_Loading {
        opacity: 0.5;
    }
}