.alerts {
    max-width: 100%;
    word-wrap: break-word;
}

.flist_select {
    min-width: none;
    justify-content: flex-start !important;
    text-align: start !important;
    max-width: 400px;
}

.breadcrumb {
    &_selected {
        color: inherit !important;
        text-decoration: none;
        cursor: default !important;
        &:hover {
            cursor: default !important;
            text-decoration: none !important;
        }
    }
}

ul.breadcrumb {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    padding: 10px 16px;
    list-style: none;
    display: flex;
    align-items: center;
    & li {
        display: inline;
        font-size: 18px;
        & a {
            // color: #0275d8;
            // text-decoration: none;
            &:hover {
                // color: #01447e;
                // text-decoration: underline;
            }
        }
    }
    & li+li:before {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
        padding: 8px;
        color: white;
        content: "›";
    }
}

.card_details {
    background-color: #333;
    &_title {
        font-weight: 600;
        font-size: 15px;
    }
    & label {
        font-size: 13px;
        font-weight: 600;
        display: block;
    }
}

.FadeIn {
    -moz-animation: fadein 600ms;
    /* Firefox */
    -webkit-animation: fadein 600ms;
    /* Safari and Chrome */
    -o-animation: fadein 600ms;
    /* Opera */
    animation: fadein 600ms;
    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @-moz-keyframes fadein {
        /* Firefox */
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @-webkit-keyframes fadein {
        /* Safari and Chrome */
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @-o-keyframes fadein {
        /* Opera */
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}